{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}
{% if get_flashed_messages() %}
<header>
    <div class="alert alert-primary border text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}
{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
